.lead {
  font-family: 'Inter','Arial', 'Helvetica', 'sans-serif';
  margin: 58px auto 0;
  width: 984px;
}

@media screen and (max-width: 1279px) {
  .lead {
    margin: 50px auto 0;
    width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    width: 100%;
  }
}
