.cover__subtitle {
  margin: 32px auto 0;
  width: 320px;
  color: var(--main-white);
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  z-index: 1;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
    width: 282px;
    font-size: 14px;
    line-height: 16px;
  }
}
