.cover__overlay {
  background-color: var(--main-gray);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: .3;
  transition: opacity 0.5s linear;
}

.cover:hover .cover__overlay {
  opacity: 0.8;
  cursor: pointer;
}
