.intro__title {
  width: 70%;
  font-family: Inter;
  color: var(--main-white);
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}
@media screen and (max-width: 768px) {
  .intro__title {
    width: 100%;
    font-size: 32px;
    line-height: 35px;
  }
}